/* 01 GENERAL STYLES 
--------------------------------*/
#siteContent {display: none;}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Copperplate Gothic Bold';
	src: url('../fonts/Copperplate-Gothic-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'Copperplate Gothic Lite';
	src: url('../fonts/Copperplate-Gothic-Light-Regular.ttf'); /* IE9 Compat Modes */
}

body {
	overflow-x: hidden !important;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.5rem;
	letter-spacing: 1rem;
	margin-bottom: 3rem;
}
h2, h3, h4, h5 {
	font-family: "Copperplate Gothic Bold", "Times New Roman", Times, serif;
	font-size: 2.5rem;
	color: #d60022;
	margin-top: 0;
	margin-bottom: .5rem;
}
p {font-size: 16px;}
a, a:hover {color: #fff; text-decoration: none;}
.info {
	font-family: "Copperplate Gothic Lite", "Times New Roman", Times, serif;
	font-size: 1.5rem;
	line-height: 3rem;
}
.copperplateBold {
  font-family: "Copperplate Gothic Bold", "Times New Roman", Times, serif;
	font-size: 2rem;
}
button.btn-primary:focus {
	outline: none !important;
}
html, body, #siteContent, .pageWrap, .mainSection {
	height: 100%;
	margin: 0;
	max-width: 100%;
	position: relative;
}
.topSection, .bottomSection {
	height: 30%;
	background-color: #d60022;
  text-align: center;
}
.mainSection {height: 40%;}
.imageContainer {min-width: 35%; z-index: 99;};}
.textContainer {width: 60%;	height: 100%;}
.topSectionSm, .bottomSectionSm {
	height: 25%;
	background-color: #d60022;
  text-align: center;
}
.mainSectionSm {height: 50%;}
.imageContainerSm {min-width: 40%; z-index: 99;}
.textContainerSm {max-width: 57%;	height: 100%;}
.imageContainer a {height: 100%;}
.glyphicon {font-size: 24px;}
.glyphicon-chevron-left:before {content: "\e257";}
.glyphicon-chevron-right:before {content: "\e258";}
.glyphicon-chevron-down:before {content: "\e259";}
.glyphicon-chevron-up:before {content: "\e260";}
.carousel-control {opacity: 100;}
.carousel-control.left, .carousel-control.right {background: none;}
.carousel-indicators {margin-bottom: 24vh;}
.carousel-indicators li {background-color: #999; border-color: #999;}
.carousel-indicators .active {background-color: #d60022; border-color: #d60022;}

.imageContainer img {height: 100%; max-height: 30vh; padding: 0 .25rem;} /* TO DO: SCALE DIFFERENT VIEW PORTS!!!!! */

@media screen and (min-width: 570px) {
	.imageContainer a {height: inherit;}
	.imageContainer img {height: 100%; max-height: 75vh; padding: 0 2rem;}
}

/* 01 NAVIGATION 
--------------------------------*/
.topNav, .bottomNav {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
}
.topNav:hover, .bottomNav:hover {
	text-decoration: none;
}
.topNav .glyphicon, .bottomNav .glyphicon {color: #fff;}

.topNav {
	position: absolute;
	top: 12px; 
	width: 100%; 
	z-index: 99;
}
.bottomNav {
	position: absolute; 
	bottom: 12px; 
	width: 100%;
	z-index: 99;
}
.bottomNav p {margin: 0;}

/* 02 LANDING PAGE 
--------------------------------*/
#landingPage {color: #fff;}
#landingPage .logoImage {max-height: 70%; width: auto;}
#isAgeSelected {margin: 0 1rem 0 0;	vertical-align: middle;}
#landingPage label {font-weight: initial;}

.btn-primary {
		color: #fff;
		border: 1px solid #fff;
		border-radius: 1px;
		width: 20rem;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		margin-top: 2rem;
		letter-spacing: 1rem;
}

/* 03 HOME PAGE 
--------------------------------*/
.headerText {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	transform: translate3d(-50%, -50%, 0);
	z-index: 99;
}
.bgStill {
	visibility: visible;
	height: 100%;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #fff;
	background: url("../img/landsend-stopmotion.jpg") no-repeat center center;
	background-size: cover;
	background-position: right center;
}
.bg {
	visibility: none;
}
@media screen and (min-width: 1024px) {
	.bgStill {
		visibility: hidden;
	}
	.bg {
		height: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: #fff;
		background: url("../img/landsend-stopmotion.jpg") no-repeat center center;
		background-size: cover;
		transform: scale(1.1);
		overflow-x: hidden;
		background-position: right center;
		overflow-x: hidden;
	}
	.bg img {
		position: relative;
		width: 100%;
	}
}
#homeSection a.textGlow {
	font-family: 'Open Sans', sans-serif;
	font-size: 3rem;
	color: #fff;
	text-decoration: none;
	text-shadow: 2px 2px 6px rgba(255, 255, 255, .7);
	letter-spacing: 2rem;
}

/* 04 OUR STORY SECTION
--------------------------------*/
#ourStorySlider .centerContent {
	text-align: center;	width: 80%;
}
#ourStoryOne .topSectionSm {
	background: url("../img/landscapes/landsend-2.jpg") no-repeat right top;
	background-size: cover;
}
#ourStoryOne .bottomSectionSm {
	background: url("../img/landscapes/beach-2.jpg") no-repeat right top;
	background-size: cover;
}
#ourStoryTwo .topSectionSm {
	background: url("../img/landscapes/vineyards-3.jpg") no-repeat right top;
	background-size: cover;
}
#ourStoryTwo .bottomSectionSm {
	background: url("../img/landscapes/beachview-4.jpg") no-repeat right top;
	background-size: cover;
}
#ourStoryThree .topSectionSm {
	background: url("../img/landscapes/rock-5.jpg") no-repeat right top;
	background-size: cover;
}
#ourStoryThree .bottomSectionSm {
	background: url("../img/landscapes/whiterock-6.jpg") no-repeat right top;
	background-size: cover;
}


/* 05 WINE SECTION 
--------------------------------*/
#wineSection .learnMore {
	color: #d60022;
	letter-spacing: .5rem;
	z-index: 1;
	text-transform: uppercase;
}

#wineSection .topSection {
	background: url("../img/landscapes/landsend-1-7.jpg") no-repeat right top;
	background-size: cover;
}

#wineSection .bottomSection {
	background: url("../img/landscapes/beach-8.jpg") no-repeat right top;
	background-size: cover;
}

#wineSectionSlider .imageContainer img {padding: 0 5rem 0 0}
.wineBottle {
	max-height: 100%;
}


/* 06 CONTACT PAGE 
--------------------------------*/
#contactUs {
	position: relative;	
}
#contactUs .logo-image {
	max-height: 40%;
	margin: 2rem auto;
}

